- name: Linux Security Hardening (CIS Benchmark)
  hosts: all
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Disable root SSH login
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin no'

    - name: Disable password authentication
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'

    - name: Restart SSH
      service:
        name: ssh
        state: restarted

    - name: Install Fail2ban
      apt:
        name: fail2ban
        state: present

    - name: Start and enable Fail2ban
      service:
        name: fail2ban
        state: started
        enabled: yes

    - name: Set permissions on sshd_config
      file:
        path: /etc/ssh/sshd_config
        mode: '0600'
